body{
	height: 1000px;
}
h2{
	margin:0px;
}
.Modal{
	border: 5px solid black;
	height: 500px;
	width: 500px;
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	background: green;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}
.Modal-body {
	border-bottom: 2px solid black;	
	text-align: center;	
	background: red;
	padding: 10px;
}
img{
	display: block;
}
.Modal-img{
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}